body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

nav {

}

#masthead {
  font-family: 'Abril Fatface', cursive;
  font-size: 64px;
  text-align: center;
  width: 100%;
}

.section {
  margin: 20px 0 10px 0;
  width: 100%;
  min-width: 1250px;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #FA8072;
  color: #FA8072;
}

#content {
  display: center;
  column-count: 1;
  margin: 0 auto;
  width: 900px;
  min-width: 500px;
  object-fit: fill;
}

h1 {
  font-family: 'Times New Roman', sans-serif;
  font-size: 48px;
}

#byline {
  font-family: 'Times New Roman', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: black;
}

figure {
  font-size: 12px;
  color: gray;
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
}

blockquote {
  font-family: 'Times New Roman', sans-serif;
  font-size: 24px;
  font-style: oblique;
  color: red;
  margin-left: 50px;
  padding-left: 10px;
  border-left: 4px solid #ccc;
}

h2 {
  font-family: 'Times New Roman', serif;
  font-size: 36px;
  color: black;
}

footer {
  text-align: center;
  background-color: #FA8072;
  font-family: 'Abril Fatface', cursive;
  color: black;
  width: 100%;
}
