.headline {
  font-size:3em;
  font-weight:700;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

.byline {
  font-size:1em;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center
}

.chapterheadline {
  font-size:2em;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: georgia, serif;
  line-height: 180%;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

figcaption {
  color: gray;
  font-family: 'Montserrat', sans-serif;
}

.row {
  column-count: 3;
  column-gap: 200px;
  column-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  text-align:center;
  background-color: black;
  text-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;
}
