/* styles for my resume */

body {
  font-family: 'Georgia', Arial, sans-serif;
  font-size: 1em;
  color: black;
  font-weight: 400;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#name {
  font-size: 3em;
  color: #black;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid black;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

.sectionheader {
  /* top | right | bottom | left */
  margin: 20px 0 10px 0;
  width: 70%;
  min-width: 1250px;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #F0E68C;
  color: black;
}

.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

.organization {
  font-weight: 400;
  font-size: 1.25em;
}

.date {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin: 2px 0 0 0;
}

.description {
  margin: 10 0 10 0;
}

.menu ul {
  margin: 0 0 0 0;
  text-align: center;
}

.menu li {
  /* Disregard connecting hyperlinks */
  display: inline;
}

#degrees ul {
  /* Edits education list section */
  margin: 5px 0 0 0;
}

#do ul {
  /* Edits skills list section */
  margin: 5px 0 0 0;
  font-size: 1em;
}

#title {
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 0 0;
}

.top {
  width: 60%
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.row {
  column-count: 2;
  column-gap: 200px;
  column-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center {
  display: block;
}

#umd {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  background-color: black;
  text-family: 'Georgia', sans-serif;
  color: white;
  width: 100%
}
