#content {
  margin: 0 auto;
  width: 900px;
}

#masthead {
  text-align: center
}

h1 {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

#byline {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-style: italic;
}

p {
  font-family: "Georgia", sans-serif;
  font-size: 13px;
}

h2 {
  font-family: "Helvetica", sans-serif;
}


figure {
  color: gray;
  font-size: 13px;
  display: inline-block;
  width: 100%;
}

blockquote {
  font: 16px/24 px normal helvetica, sans-serif;
  font size: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;

}
