
body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 12px;
  padding: inherit;
}

#content {
margin: 0 auto;
width: 900px;
}

#masthead {
  text-align: center;
}

h1 {
  font-family: 'Times New Roman', serif;
  font-size: 48px;
}

#byline {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  font-style: italic;
}

figure {
  font-size: 12px;
  color: gray;
  display: inline-block:block;
  width: 100%;
}

h2 {
  font-family: 'Times New Roman', serif;
  font-size: 36px;
}

blockquote {
  font-family: 'Times New Roman', sans-serif;
  font-size: 24px;
  color: red;
  padding-left: 10px;
  border-left: 4px solid #ccc;
}
